<div class="w3-light-grey w3-bar-block w3-sidebar">
    <h3 class="w3-bar-item">Admin Pannel</h3>
    <a href="#" routerLink="/admin/user-list" [routerLinkActive]="['active']" class="w3-bar-item w3-button">All User</a>
    <a href="#" routerLink="/admin/gig-worker" [routerLinkActive]="['active']" class="w3-bar-item w3-button">GiG Worker</a>
    <a href="#" routerLink="/admin/hirer" [routerLinkActive]="['active']" class="w3-bar-item w3-button">Hirer</a>
    <a href="#" routerLink="/admin/company" [routerLinkActive]="['active']" class="w3-bar-item w3-button">Company</a>
    <a href="#" routerLink="/admin/task-end-date" [routerLinkActive]="['active']" class="w3-bar-item w3-button">Task End Date</a>
  </div>