.accordion .card .card-body {
        font-size: 0.9rem !important;
    }
    .onerem-font{
        font-size: 1rem;
    }
.accordion .card .card-header {
    border-bottom: 0;
    padding: 0.85rem 1.5rem;
    background: 0 0;
}
strong{
  font-weight: normal !important;
}
.img-why{
    width: 100%;;
    height: 100%;
    max-width: 610px;
    max-height: 500px;
}

