<div class="reset-container">
    <form (ngSubmit)="reset()" [formGroup]="resetForm">
        <h2>Reset Password</h2>
        <p>Please enter your new password below </p>
        <mat-form-field appearance="outline" style="margin-bottom: 10px;">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off">
          <mat-error *ngIf="resetForm.get('password').hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="resetForm.get('password').hasError('pattern')">Password must have at least 8 characters, 1 uppercase letter, 1 lowercase letter and 1 special character</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" autocomplete="off">
            <mat-error *ngIf="resetForm.get('confirmPassword').hasError('passwordMismatch')">Confirm password does not match</mat-error>
          </mat-form-field>
        <div class="ch-number">
          <button type="submit" mat-flat-button color="primary">Reset</button>
        </div>
       
      </form>
</div>