@import '../basicinfo/basicinfo.component';
.skip{
    position: absolute;
    right: 30px;
    top:10px;
    font-weight: 300;
}
h3{
    color:  #087DC3
 }
 h6{
     color: #455a64;
     font-weight: 400;
 }
 sup{
    color: #E84949;
}