@import '../../userprofile/basicinfo/basicinfo.component';
h4{
    color: #455a64;
}

.infoarea-1{
    // max-width: 800px !important;
}
.infoarea-1 ul p{
    margin-bottom: 0.5rem !important;
    padding-right: 15px !important;
    padding-left: 15px !important; 
}
.title{
    color: #087DC3 !important;
}

.selectSkill{
    display: none !important;
}

.alert-green{
    background-color: #d8ecf7;
    color: #087DC3;

}
.alert{
    padding: 4px 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}
h3{
    color:  #087DC3
 }
 h6{
     color: #455a64;
     font-weight: 400;
 }
 sup{
    color: #E84949;
}