<app-header></app-header>
<div class="page-header">
  <h1 class="text-white">Terms & Conditions</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="terms-main bg-white p-4 my-5">
        <div class="font-400">
          <div class="text-right"><i style="font-size: 0.8rem;">Effective as of August 01, 2018</i></div>
          <h4 class="pt-4">
            <b>1. ACCEPTANCE OF TERMS OF USE</b>
          </h4>
          <ol type="a">
            <li>
              These terms of use (Terms) constitute a legally binding agreement between "you" (as defined
              below) and Vigour Contingent Private Limited, hereinafter morefully described as "Company"
              regarding your use of the Company's web site i.e www.workflexi.in (the "Site") and any services
              offered by the company including but not limited to delivery of content via the Site, any mobile or
              internet connected device or any future technology not identified otherwise, hereinafter referred to
              as "the Service".
            </li>
            <li>
              "You" means any person who access or avail the Site or approach the Company for the purpose of
              seeking job opportunities, posting job opportunities, sharing, saving or dealing with the service.
            </li>
            <li>
              By clicking "I agree", you agree to be bound by these Terms along with the written agreements
              between you and/or the employer. You hereby represent and warrant to the Company that you are at
              least eighteen (18) years of age or above and are capable of entering, performing and adhering to these
              Terms and that you agree to be bound by the following terms and conditions. While individuals under
              the age of 18 may utilize the Service of the site, they shall do so only with the involvement &amp; guidance of
              their parents and / or legal guardians. You agree to register prior to uploading any content and / or
              comment and any other use or services of this site and provide your details including but not limited to
              complete name, age, email address, residential address, and contact number.
            </li>
            <li>
              The Company reserves the right, at its discretion, to change, modify, add, or remove portions of
              these Terms at any time by posting the amended Terms. Please check these Terms periodically for
              changes. Your continued use of the Service after the posting of changes constitutes your binding
              acceptance of such changes. In addition
            </li>
            <li>
              While using any particular services, you may be subject to the terms and agreements entered
              between you and the company and / or the employer. All such terms and conditions are hereby
              incorporated by reference into the Terms.
            </li>
            <li>
              If you do not agree with the Terms, please do not click the "I agree" button or use this Site or the
              Service.
            </li>
          </ol>
          <h4 class="pt-4">
            <b>2. INTELLECTUAL PROPERTY RIGHTS </b>
          </h4>
          <p>
            The content on the Site including, without limitation text, graphics, interactive features,
            logos, photos, as well as the selection, organization, coordination, compilation and overall look and
            feel of the Site (collectively, the "Content") are the intellectual property of the Company, its licensors
            and its suppliers. The Content is protected by Intellectual Property laws and other such laws
            including but not limited to copyright, trade dress, patent, trademark and other laws, international
            conventions and proprietary rights and all ownership rights to the Content remain with the Company,​
            its licensors or its suppliers, as the case may be. All trademarks, service marks, and trade names are
            proprietary to the Company or its affiliates and/or third party licensors.
          </p>
          <h4 class="pt-4">
            <b>3. TERMS AND CONDITIONS OF USE</b>
          </h4>
          <ol type="a">
            <li>
              Subject to your compliance with the Terms herein, the Company hereby grants you a personal,
              limited, non-exclusive, non-transferable, freely revocable license to use the Service. Sharing your account
              login and password details of the website with any individual outside your own recruitment team,
              sending unsolicited mail or e-mail, making unsolicited phone calls or send unsolicited messages regarding
              promotions and/or advertising of products or services to a user of the website. Spam e-mails, or
              commercial e-mails seeking monetary transactions, to jobseekers; the facility to download resumes is
              provided as an aid to your recruitment activities only. Any mass download of Resumes from the database
              using any kind of software, or for non-recruitment related purposes, will be treated as a violation of the
              Terms &amp; Conditions and may invite legal action.
            </li>
            <li>
              You hereby agree and assure the Company that the Site and/or the Service shall be used for lawful
              purposes only and that you will not violate laws, regulations, ordinances or other such requirements of any
              applicable Central, State or local government or any other international laws. You further concur that you
              shall not:
              <ol type="i">
                <li>
                  Use or launch any "robots", "spiders", "offline readers" etc. or any other automated system,
                  that accesses the Site and / or the Service in a manner that sends numerous automated
                  requests to the Site's servers in a given period of time, which a human cannot reasonably
                  send in the same period by using conventional web browsing application or tool(s) for similar
                  purposes.
                </li>
                <li>
                  Deceives or misleads the addressee about the origin of such messages or communicates any
                  information which is grossly offensive or menacing in nature;
                </li>
                <li>
                  Impersonate another person;
                </li>
                <li>
                  Contain misleading information regarding the origin of the Content; or otherwise contains
                  objectionable content.
                </li>
                <li>
                  Any content uploaded by you shall be subject to relevant laws and may be disabled, or and
                  may be subject to investigation under appropriate laws. Furthermore, if you are found to be
                  in non-compliance with the laws and regulations, these terms, or the privacy policy of the
                  Site, we may terminate your account/block your access to the Site and we reserve the right
                  to remove any non-compliant content uploaded by you and shall further have the right to
                  take recourse to such remedies as would be available to the Company under the applicable
                  laws.
                <li>
                  The Company is free to use any comments, information, ideas, concepts, reviews, or
                  techniques or any other material contained in any communication you may send to us ("User
                  Feedback"), including responses to questionnaires or through postings to the Service / the
                  Site and User Submissions, without further compensation, acknowledgement or payment to
                  you for any purpose whatsoever including, but not limited to, developing, manufacturing and
                  marketing products and creating, modifying or improving the Service. By posting / submitting
                  any User Feedback / User Submission on the Site, you grant the Company a perpetual,
                  worldwide, non-exclusive, royalty-free irrevocable, sub-licensable license and right in such
                  User Feedback / User Submission to the Company, including the right to display, use,
                  reproduce or modify the User Feedback / User Submission in any media, software or
                  technology of any kind now existing or developed in the future.
                </li>
                <li>
                  You agree not to collect or harvest any personally identifiable information, including account
                  names, from the Site, nor to use the communication systems provided by the Site for any
                  commercial solicitation purposes. You agree not to solicit, for commercial purposes, any
                  users of the Site with respect to its User submissions.
                </li>
                <li>
                  You agree that the Company may directly or through third party service providers send
                  information to you about the various services offered by the Company from time to time.
                </li>
              </ol>
            </li>
          </ol>
      
          <h4 class="pt-4">
            <b>4. DISCLAIMER OF WARRANTIES AND LIABILITY</b>
          </h4>
          <ol type="a">
            <li>
              You understand and agree that the Company provides the Service on an 'as-is' 'with all faults' and 'as
              available' basis. You agree that use of the Site or the Service is at your risk. All warranties including
              without limitation, the implied warranties of merchantability, fitness for a particular purpose, for the title
              and non-infringement are disclaimed and excluded.
            </li>
            <li>
              No representations, warranties or guarantees whatsoever are made by the Company as to the
              <ol type="i">
                <li> Accuracy, adequacy, reliability, completeness, suitability or applicability of the information to a
                  particular ​
                  situation;</li>
                <li> That the service will be uninterrupted, timely, secure, or error-free; </li>
                <li> The quality of any
                  services, content, information, or other material on the website will meet your expectations or
                  requirements; </li>
                <li>Any errors in the Site will be corrected;</li>
                <li> Warranties against infringement of any third
                  party intellectual property or proprietary rights.</li>
              </ol>
            </li>
            <li>
              The Company, its affiliates, successors, and assigns, and each of their respective investors, directors,
              officers, employees, agents, and suppliers (including distributors and content licensors) shall not be
              liable, at any time for any, direct, indirect, punitive, incidental, special, consequential, damages arising
              out of or in any way connected with the use of Site or the Service, whether based in contract, tort, strict
              liability, or other theory, even if the Company have been advised of the possibility of damages.
            </li>
            <li>
              In the event any exclusion contained herein be held to be invalid for any reason and the Company or
              any of its affiliate entities, officers, directors or employees become liable for loss or damage, then, any
              such liability of the Company or any of its affiliate entities, officers, directors or employees shall be
              limited to not exceeding subscription charges paid by you in the month preceding the date of your claim
              for the particular subscription in question chosen by you.
            </li>
          </ol>
      
          <h4 class="pt-4">
            <b>5. INDEMNIFICATION</b>
          </h4>
          <ol type="a">
            <li>
              You agree to indemnify, defend and hold harmless, the Company, its affiliates, successors, and
              assigns, and each of their respective investors, directors, officers, employees, agents, and suppliers
              (including distributors and content licensors) from and against any losses, claims, damages, liabilities,
              including legal fees and expenses, arising out of:
            </li>
            <li>
              Any claim due to or arising out of your violation of these Terms, including but not limited to a claim
              arising out of a breach of your representations or warranties made hereunder;
              <ol type="i">
                <li> Your use or misuse of or access to the Site or the Service;</li>
                <li> Your violation of any law, regulation or third party right, including without limitation any
                  copyright, property, or privacy right; or </li>
                <li> Any claim that you have caused damage to a third party.</li>
                <li>The Company reserves the right, at its own expense, to employ separate counsel and
                  assume the exclusive defence and control of any matter otherwise subject to indemnification
                  by you, and you agree to cooperate with the Company's defence of these claims.</li>
              </ol>
            </li>
          </ol>
      
          <h4 class="pt-4">
            <b>6. TERMINATION OF ACCOUNT, SUSPENSION OR DISCONTINUATION OF THE SERVICE </b>
          </h4>
          <p>
            The Company reserves the right to change, suspend, or discontinue temporarily or permanently, some or
            all of the Service (including the Content and the devices through which the Service are accessed), with
            respect to any or all users, at any time without notice. You acknowledge that the Company may do so in​
            its sole discretion. You also agree that the Company will not be liable to you for any modification,
            suspension, or discontinuance of the Service.
          </p>
      
          <h4 class="pt-4">
            <b>7. GENERAL TERMS</b>
          </h4>
          <ol type="a">
            <li>
              <p><b>Grievance Redressal</b></p>
              Redressal Mechanism : Any complaints, abuse or concerns with regards to content
              and or comment or breach of these terms shall be immediately informed to the
              designated Grievance Officer as mentioned below via in writing or through email
              signed with the electronic signature --------name and address
            </li>
            <li class="pt-3">
              <p><b>Relationship</b></p>
              None of the provisions of the Terms shall be deemed to constitute a partnership or
              agency between you and the Company and you shall have no authority to bind the
              Company in any manner, whatsoever. This agreement is solely for your and the
              Company's benefit and not for the benefit of any other person, except for permitted
              successors and assigns under this Agreement.
            </li>
            <li class="pt-3">
              <p><b>Force Majeure</b></p>
              Neither Party shall have any liability for any interruption or delay, to access the Site
              due to Force Majeure Event. For the purposes of this clause, ́Force Majeure Event ́
              means any event or circumstance or combination of events and circumstances which
              is reasonably beyond the control of the party affected thereby and which causes or
              results in default or delay in performance by such affected party of any of its
              obligations under this agreement and includes an act of God, war, hostilities, civil
              commotion, strikes, lockouts and other industrial disputes.
            </li>
            <li class="pt-3">
              <p><b>Applicable Law</b></p>
              These Terms are governed by and construed in accordance with, the laws of India
              without giving effect to principles of conflict of law. In the event of any dispute or
              claim by you against the Company, you agree to submit to the exclusive jurisdiction
              of courts at New Delhi.
            </li>
            <li class="pt-3">
              <p><b>Limited Time To Bring Your Claim</b></p>
              You and the Company agree that any cause of action arising out of or related to use
              of the Site or the Service must commence within one (1) year after the cause of
              action accrues otherwise, such cause of action will be permanently barred.
            </li>
            <li class="pt-3">
              <p><b>Survival</b></p>
              Rights and obligations under the Terms which by their nature should survive will
              remain in full effect after termination or expiration of the subscription.
            </li>
            <li class="pt-3">
              <p><b>Non Waiver</b></p>
              Any express waiver or failure to exercise promptly any right under this agreement
              will not create a continuing waiver or any expectation of non-enforcement.
            </li>
          </ol>
      
          <h5 class="pt-4">
            <b>Copyright Notice </b>
          </h5>
          <p>Copyright &copy; 2018 Vigour Contingent Pvt Ltd. All rights reserved.
            This disclaimer/terms of service notification is subject to change without notice.</p>
      
          <h5 class="pt-4">
            <u><b>Terms and conditions governing BPS: </b></u>
          </h5>
          <p>These terms of use (Terms) constitute a legally binding agreement between the jobseeker (the “Candidate”) and the
            employer who payrolls the candidate (the "Employer") and Vigour Contingent Private Limited (the "Company")
            regarding the use of the website i.e. www.workflexi.in (the "Site") and BPS service offered by the company
            including but not limited to delivery of content via the Site, any mobile or internet connected device or
            otherwise (the "the Service").</p>
          <p>We thank you for using https://workflexi.in As you are aware, the usage of our services is governed by a set of
            regulations. "Company": Is defined as Vigour Contingent Private Limited an existing Company under the Companies
            Act, 1956 and having its registered office at B3-104, Shriram Spandhana Apartments, Challaghatta, Bangalore-
            560037 along with its unit for the Company's website www.workflexi.in. The website ( www.workflexi.in) is
            dedicated to providing the safest possible environment for one to search for contract jobs or post contract jobs
            and manage one’s career or hiring requirements.</p>
          <p>The following are a set of guidelines laid out by the Company for the use of one of its services called the Basic
            Pay System (the "BPS"). The BPS is for the benefit of candidates whose contract ends abruptly, before having
            secured their next contract. By accepting the services of the company, the employer agrees to the following terms
            and conditions regarding BPS.</p>
          <ol>
            <li>
              The Employer, at the time of nominating the Candidate for BPS, would apprise the Candidate about the terms and
              conditions governing the BPS.
            </li>
            <li>
              The Candidate's BPS application has to be verified and approved by the Employer post which the Candidate is
              officially on the BPS list of the Company.
            </li>
            <li>
              The Candidate can apply for the service with only one employer at any given
              point in time.
            </li>
            <li>
              The Employer at any point wants to discontinue the service to a candidate, they need to communicate to the
              Company via an email, post which the service is cancelled for the candidate in the Company’s system, for that
              particular employer. The Employer can then replace the candidate with any other candidate, within a period of
              15days, for the same fee. The fee once paid for a candidate shall be forfeited after a period of 15days, if the
              employer does not nominate any candidate.
            </li>
            <li>
              The Candidate is eligible for basic pay disbursement from the Company only after the completion of 180days of
              the employer approving the Candidate for the service. Post 180 days, when the Candidate asks for disbursement,
              the following steps are verified:
              <ol type="i">
                <li> If for all the 180 days the candidate is pay-rolled with the same employer,
                  irrespective of whether in the same contract or different contract(s). </li>
                <li> If the contract has fully ended – i.e. proof of the last working day</li>
                <li> The relieving letter from the end-employer(onsite)</li>
                <li> If or not secured the next contract job</li>
                <li> Upon submission and verification of the above (by the Company and the
                  employer), the employer will once again approve the candidate for the final
                  disbursement of the basic pay amount </li>
              </ol>
            </li>
            <li>
              The payment, which is the candidate's Basic pay (~40% of his gross pay) or upto a
              maximum of INR20,000/-, whichever is lower to the candidate is made via NEFT /Online banking.
            </li>
            <li>
              If the Company is able to place the candidate in an active job in the 25days of
              his/her LWD, then the candidate is not eligible to get the basic pay from the
              Company.
            </li>
            <li>
              When the Employer nominates a candidate for BPS and if the candidate does not lose
              his contract job (is hired on a permanent role or the project is extended beyond
              12months or any other circumstance) for a period of 12months from the date of
              approving the service, then the service becomes null and void after 12months. The ​
              candidate has to be nominated again for the service, by the employer, by paying
              the required fee.
            </li>
            <li>
              The Employer at all times can see the status of the BPS application of a candidate,
              on his dashboard.
            </li>
            <li>
              The Company reserves the right to delete any BPS application that is found
              inappropriate/ fraudulent or does not abide by the rules of the service.
            </li>
            <li>
              By signing the terms and conditions, the Employer agrees that their company shall
              not indulge in any mis-management or mis-use of the service offered by the
              Company.
            </li>
            <li>
              In case of any disputes between the Employer and the Candidate, the Company and/or
              its services will be held harmless and will not be made a party to any suits
              thereunder and thereafter.
            </li>
            <li>
              The Company will, if required, market the Employer (with BPS as the objective) extensively with appropriate
              approvals from the Employer.
            </li>
          </ol>
      
          <h5 class="pt-4">
            <u><b>Terms and conditions for referrals: </b></u>
          </h5>
          <ol class="pb-4">
            <li>The redemption of Rs.200 can be done only on 8 complete registrations. To qualify as a complete registration,
              one has to complete the Personal, Professional, Skill set page and also the resume attachment. </li>
            <li>The final decision on any of the matters related to redemption lies with Vigour Contingent Pvt Ltd.,
              (Workflexi.in).</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>