.page-header {
  width: 100%;
  min-height: 300px;
  background: linear-gradient(to right top, rgba(11, 125, 195, 0.6), rgba(27, 188, 156, 0.6)), url('../../assets/images/terms/tnc-bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
