<app-header></app-header>
<div class="page-header">
  <h1 class="text-white">Privacy policy</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="privacy-policy-main bg-white p-4 my-5">
        <div class="font-400">
          <div class="text-right text-dark"><i style="font-size: 0.8rem;">Updated on August 01, 2018</i></div>
          <p class="pt-4">
            We at Vigour Contingent Private Limited are committed to respecting the privacy of our users and recognize
            your
            need for appropriate protection and management of any personally identifiable information ("Personal
            Information") you share with us. "Personal Information" means any information that may be used to identify an
            individual, including, but not limited to, a first and last name, a home or other physical address and an
            email
            address or other contact information, whether at work or at home. Personal Information are the information
            that
            can be used to identify the person and we do not collect personal information unless you choose to provide it
            to
            us. Some of them are Name, Telephone Number, Email Address, Telephone Number, Contact Information.
          </p>
          <p>
            We do not collect sensitive personal data like financial information such as Bank Account details or Credit
            Card
            or Debit Card or other payment details, health conditions, Biometric functions like fingerprints, DNA, Voice &
            Facial patterns. We do not store information of users like password of your email account.
          </p>
  
          <h4><b>Confidentiality and Security</b></h4>
          <p>
            We use the information from the website ( www.workflexi.in ) for the following purpose:
          </p>
  
          <ul>
            <li>For providing the services mentioned.</li>
            <li>To provide a favourable user experience</li>
            <li>Foster the service we offer to job seekers and employers</li>
            <li>Continuous improvement of website and its features.</li>
          </ul>
  
          <p>Users are responsible for ensuring their log-in credentials (Username & password) are kept confidential.</p>
  
          <p>If you wish to delete or close your account or account profile information altogether, please contact us at
            contact@workflexi.in</p>
  
          <p>While we take every precaution to secure your personal information from accidental loss and / or from
            unauthorized access or use, internet being an open system, we cannot guarantee fully that unauthorized third
            parties will not be able to defeat those measures or use your personal information for improper purposes.
            Please
            ensure that your resume does not contain any sensitive data that you would not want made public. Your profile
            may also be monitored by your current employer.</p>
  
          <h4><b>Disclosure & sharing information</b></h4>
          <p>
            We disclose user’s profile information to employers who are our trusted partners who work with us under
            confidentiality agreements. These partners may use job seeker’s personal information given in the website to
            communicate with the job seeker about the opportunities.
          </p>
          <p>
            Once the resume is uploaded in the website, it is searchable & accessible to all the employers whom we are
            partnered with. The job seeker’s resume may be viewed and access by all employers registered with us and at
            the
            moment we do not provide the option to a job seeker to block a particular employer.
          </p>
  
          <h4><b>Violation of Privacy Policy</b></h4>
          <p>
            If the company determines a Violation in the above-mentioned privacy policies, an immediate action is taken
            against the violator by deleting the offending material from the website and also the cancellation of the
            users
            account and also the information of the person who violated the policy.​
          </p>
  
          <b>Changes to the Privacy policy</b>
          <p>
            We, Vigour Contingent Private Limited reserve the right to amend, change or delete the policy and features at
            any time.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
