.header{
    background-color: transparent;
    margin-bottom: 20px;
    .mat-toolbar {
        background: transparent;
        padding: 0px;
    }
}
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-button.mat-button-base{
      color: #455A64;
  }
  .nav{
      margin: 0px; display: inline-block;
      &-item{
          display: inline-block;
          .mat-button.mat-button-base{
              font-family:'Poppins', "Helvetica Neue", sans-serif;
              font-weight: 400;
              &.active{
                  color: #087DC3;
              }
          }
      }
  }
  .login{
    color: #087DC3;
    border-color: #087DC3;
    min-width: 100px;
  }
