@import '../../userprofile/basicinfo/basicinfo.component';
// .bottom-part{
    // h4{
    //     color: #455a64;
    //     font-weight: 400;
    // }
    sup{
        color: #E84949;
    }
    
// }

.selectSkill{
    display: none !important;
}
h3{
   color:  #087DC3
}
h6{
    color: #455a64;
    font-weight: 400;
}

.bottom-part button{
    margin-right: 1em;
}