<!-- Footer menu start here -->
<div class="footer-menu">
  <div class="container">
    <div class="row p-5">
      <div class="col-6 col-md-4 col-lg-4 col-xl-4">
        <ul>
          <li>
            <h4><u>COMPANY</u></h4>
          </li>
          <li><a mat-button routerLink="/about-us">About us</a></li>
          <li><a mat-button routerLink="/why-us">FAQ</a></li>
          <!-- <li><a mat-button href="/blog">Blog</a></li> -->
          <li><a mat-button routerLink="/press-room">Press room</a></li>
          <li><a mat-button routerLink="/terms-and-conditions">Terms & Conditions</a></li>
          <li><a mat-button routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-4 col-xl-4">
        <ul>
          <li>
            <h4><u>CONTACT</u></h4>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon>location_on</mat-icon>
            <p class="mb-0 pl-1">Workden, Domlur, Bangalore, 560071.</p>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon>mail</mat-icon>
            <a mat-button href="mailto:contact@workflexi.in" class="pl-1">contact@workflexi.in</a>
          </li>
        </ul>
      </div>
      <!--div class="col-6 col-md-4 col-lg-4 col-xl-4">
                <ul>
                    <li>BROWSE</li>
                    <li><a mat-button routerLink="."> Post your Skill</a></li>
                    <li><a mat-button routerLink=".">FAQ</a></li>
                    <li><a mat-button routerLink=".">Blog</a></li>
                    <li><a mat-button routerLink=".">Press room</a></li>
                    <li><a mat-button routerLink=".">Terms & Conditions</a></li>
                    <li><a mat-button routerLink=".">Privacy Policy</a></li>
                </ul>
            </div-->
    </div>
  </div>

</div>
<div class="bottom-footer">
  <div class="container">
    <mat-toolbar>
      <!--div class="left">
            <span style="display: inline-block;
            margin-top: 13px;">follow Us</span> <button mat-icon-button aria-label="Facebook">
                <mat-icon><span class="icon-facebook-2"></span></mat-icon>
              </button>
              <button mat-icon-button aria-label="Linkedin">
                <mat-icon><span class="icon-linkedin-1"></span></mat-icon>
              </button>
              <button mat-icon-button aria-label="Instagram">
                <mat-icon><span class="icon-instagram-1"></span></mat-icon>
              </button>
              <button mat-icon-button aria-label="Twitter">
                <mat-icon><span class="icon-twitter-1"></span></mat-icon>
              </button>
              <button mat-icon-button aria-label="Youtube">
                <mat-icon><span class="icon-youtube"><span class="path1"></span><span class="path2"></span></span></mat-icon>
              </button>
            </div-->
      <span class="example-spacer"></span>
      <div class="right">
        <span style="display: inline-block;
            margin-top: 13px;">Workflexi.in ©2021</span>
      </div>
    </mat-toolbar>
  </div>

</div>
<!-- Footer menu end here -->
