$md-workflexiprimary: (
    50 : #e4f7f3,
    100 : #baebe1,
    200 : #8ddece,
    300 : #5fd0ba,
    400 : #3cc6ab,
    500 : #1abc9c,
    600 : #17b694,
    700 : #13ad8a,
    800 : #0fa580,
    900 : #08976e,
    A100 : #c3ffec,
    A200 : #90ffdc,
    A400 : #5dffcc,
    A700 : #44ffc4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-workflexiprimarysecondary: (
    50 : #e1eff8,
    100 : #b5d8ed,
    200 : #84bee1,
    300 : #52a4d5,
    400 : #2d91cc,
    500 : #087dc3,
    600 : #0775bd,
    700 : #066ab5,
    800 : #0460ae,
    900 : #024da1,
    A100 : #cbe0ff,
    A200 : #98c2ff,
    A400 : #65a4ff,
    A700 : #4c95ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-workflexiprimarybody: (
    50 : #e9ebec,
    100 : #c7ced1,
    200 : #a2adb2,
    300 : #7d8c93,
    400 : #61737b,
    500 : #455a64,
    600 : #3e525c,
    700 : #364852,
    800 : #2e3f48,
    900 : #1f2e36,
    A100 : #7dcdff,
    A200 : #4abaff,
    A400 : #17a7ff,
    A700 : #009cfc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);