<app-header></app-header>
<div class="page-header">
  <h1 class="text-white">About Us</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="vision-mission-main bg-white my-5 p-4">
        <h2 class="text-center mb-5 mt-4">Our Vision & Mission</h2>
        <div class="row">
          <div class="col-12 col-md-6 mb-4">
            <div class="mission-box text-center card">
              <img src="assets/images/about/our-vision.png" class="img-our-mission" alt="Our Vision">
              <h3 class="mt-4">Our Vision</h3>
              <p class="text-muted px-3"><b>Connecting people to the world of gigs that earn them money</b></p>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-4">
            <div class="mission-box text-center card">
              <img src="assets/images/about/our-mission.png" class="img-our-mission" alt="Our Mission">
              <h3 class="mt-4">Our Mission</h3>
              <p class="text-muted px-3"><b>Helping companies engage skilled gig workers to meet their technology and
                creative
                goals</b></p>
            </div>
          </div>
        </div>
        <hr />
        <h2 class="text-center mb-4 mt-5">Our Team</h2>
        <p class="text-center pb-5"> These are the folks who make it all come together at Workflexi. <br>
          They work hard and play harder, if only to come back and push the envelope even more. <br>
          They are driven by passion and believe in the adage: <br>
          "Don't just dream. Do."
        </p>
        <div class="row">
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/geetha-prabhu.jpg">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Geetha Prabhu</h3>
                  <h5> <i>Founder, COO</i></h5>
                </div>
                <p>Geetha comes with more than two decades of experience in market research and marketing. A startup
                  enthusiast who is passionate about technology.<br><b> geethap@workflexi.in </b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/geethaprabhu/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/sandesh-kangod.jpg">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Sandesh Kangod</h3>
                  <h5> <i>Co-Founder, CEO</i></h5>
                </div>
                <p>Sandesh comes with more than 15yrs of experience in sales. Loves economics and theatre.<br>
                  <b>sandesh@workflexi.in </b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/sandesh-kangod-31878651/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/lokesh-kumar.jpg">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Lokesh Kumar</h3>
                  <h5> <i>CTO</i></h5>
                </div>
                <p>IIT-ian, Avid traveller and a great singer. Technology is his second name. Being part of a great
                  venture and building a great product is his passion.<br><b>lokeshk@workflexi.in </b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/lokesh-kumar-6313712/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/avinash-pai.jpg">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Avinash Pai</h3>
                  <h5> <i>Product Owner</i></h5>
                </div>
                <p>Believes in making use of technology for innovation and problem solving. Worked in several areas of
                  IT like CRM, ERP, BI &amp; Consulting. Delivering IT solutions for over 11 years across the industry.
                  <br> <b>avinashp@workflexi.in</b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/avinashpai/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/suman-giri.png">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Suman Giri</h3>
                  <h5> <i>Product Developer</i></h5>
                </div>
                <p>Geek and tech enthusiast. Ideology - If you know, deliver; if you don't know, learn and deliver. <br>
                  <b>sumang@workflexi.in</b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/suman-giri-4a0b9091/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/gagana-srini.png">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Gagana Srini</h3>
                  <h5> <i>Creative Associative</i></h5>
                </div>
                <p>Experienced HR professional who has worked in a variety domains across HR functions: Talent
                  Acquisition, Operations, HR Shared Service projects, who has the potential to partner with varied
                  businesses to achieve organisational goals.<br> <b>gagana@workflexi.in</b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/gagana-srini-089a39a6/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/roopashree-m.jpg">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>M Roopashree</h3>
                  <h5> <i>Asst. Manager, Finance</i></h5>
                </div>
                <p>She is very passionate about numbers hence chose Finance as her career. Her expertise are Accounts,
                  Taxation, Audit, costing & statutory compliances.<br> <b>roopashree@workflexi.in</b>
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/m-roopa-9b2221164/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/sougata-sen.png">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Sougata Sen</h3>
                  <h5> <i>Chief Business Officer</i></h5>
                </div>
                <p><b>sougatas@workflexi.in</b></p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/sensougata/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 mb-4 mb-md-0">
            <div class="card card-box">
              <div class="card-image">
                <img class="img-fluid d-flex mx-auto card-image1" src="assets/images/team/shilpa.png">
              </div>
              <div class="card-text">
                <div class="card-title">
                  <h3>Shilpa Ravichandran</h3>
                  <h5> <i>Manager Business</i></h5>
                </div>
                <p>'A journey of a thousand miles begins with a single step' - A thrill seeking flashpacker with a
                  perfect blend of professional and personal life<br> shilpar@workflexi.in
                </p>
              </div>
              <div class="footer pt-0">
                <a href="https://www.linkedin.com/in/sensougata/" target="_BLANK">
                  <img src="assets/images/about/linkedin.png">
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
