<app-header></app-header>
<div class="page-header">
  <h1 class="text-white">Press Room</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="press-main bg-white my-5 p-4">
        <div class="font-400 mt-4">
          <!-- Section description -->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/wfbop.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Workflexi Partners with BOP Consultants to extend its wings into
                  the Gig Economy</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">BOP consultants being one of the top vendors to provide manpower to
                TCS would leverage Workflexi's platform to provide job security to contractors and also find people who
                can join them immediately........</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Sandesh Kangod</a>, 20/05/2019</p>
              <!-- Read more button -->
  
              <a class="mat-raised-button mat-button-base mat-primary" href="/workflexi-bop-consultants">Read more</a>
  
            </div>
          </div>
          <hr class="my-5">
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/imagemerge.jpg" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Workflexi and Trigent Partner to Meet the Needs of Millennial Job
                  Seekers</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">According to The Guardian, over a million people are turning 18 every
                month, which makes India one of the best places for investment, driven by the insatiable passion of Gen
                Z.......</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Sandesh Kangod</a>, 01/04/2019</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary" href="/workflexi-trigent">Read more</a>
  
            </div>
          </div>
          <hr class="my-5">
          <!-- Grid row chronicle-->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/pressreader.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>When pricing is anyone's guess</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">In the absence of guidelines in the unregulated gig economy, it
                becomes harder to predict pricing, which is very high one day and drastically lower another day. A classic
                example is the incentive structures of Ola and Uber drivers. The incentives are very high when they begin
                to lure the drivers to take up the gigs. However, over a period of time, the incentives and the pay
                structure lose the widely change, creating discontentment among drivers....</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Sandesh Kangod</a>, 04/11/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="http://www.pressreader.com/india/dna-sunday-mumbai/20181104/281672550950912" target="_blank">Read
                more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/chronicle.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Don't want 'permanent' employment? Login to Workflexi for contract
                  jobs</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">With more youngsters opting for flexible timings and not seeking
                permanent employment, more companies are offering work on contract basis. This means that the position one
                is hired for lasts only a fixed amount of time, say three or six months. To provide a steady stream of
                jobs to such employees, a group of youngsters from Bengalure has launched a platform, 'Workflexi.in',
                which...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Nischith N</a>, 29/08/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://www.deccanchronicle.com/nation/current-affairs/290818/dont-want-permanent-employment-login-to-workflexi-for-contra.html"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row business wire-->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/businesswire.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Recruitment Portal Offers Basic Pay to Beat Job
                  Insecurity</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">When was the last time you felt the absence of 'me-time'? It's true
                that most people have no time for themselves. They are stuck in their daily 9-5 routines, and prefer the
                security of a permanent job even if it stifles their freedom to 'just be'. Here is where Workflexi.in
                offers fixed term contract jobs...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Business Wire India</a>, 27/08/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://businesswireindia.com/news/fulldetails/recruitment-portal-offers-basic-pay-beat-job-insecurity/59606"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row newson -->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/newson.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Recruitment Portal Offers Basic Pay to Beat Job
                  Insecurity</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">When was the last time you felt the absence of 'me-time'? It's true
                that most people have no time for themselves. They are stuck in their daily 9-5 routines, and prefer the
                security of a permanent job even if it stifles their freedom to 'just be'. Here is where Workflexi.in
                offers fixed term contract jobs. The uniqueness of this is that when a person is in-between jobs,
                Workflexi's platform offers a 'virtual bench' and pays the jobseeker one month's 'basic pay' under the
                Basic Pay System (BPS) at no cost to the jobseeker. None of the standalone products or services provide
                this facility in India. ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Business Wire India</a>, 27/08/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://newsonfloor.com/newsdetail/recruitment-portal-offers-basic-pay-to-beat-job-insecurity-315148.htm"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row voice-->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/voice.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Recruitment Portal Offers Basic Pay to Beat Job
                  Insecurity</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">When was the last time you felt the absence of 'me-time'? It's true
                that most people have no time for themselves. They are stuck in their daily 9-5 routines, and prefer the
                security of a permanent job even if it stifles their freedom to 'just be'. Here is where Workflexi.in
                offers fixed term contract jobs. The uniqueness of this is that when a person is in-between jobs,
                Workflexi's platform offers a 'virtual bench' and pays the jobseeker one month's 'basic pay' under the
                Basic Pay System ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Business Wire India</a>, 27/08/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="http://voiceofyourpage.com/recruitment-portal-offers-basic-pay-to-beat-job-insecurity/"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row quint-->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/thequint.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Travelling For Work? These Businesswomen Spill on Safety
                  Tips</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">As more women join the global workforce, the number of women business
                travellers will increase - and so will women-specific services like cabs and women-only hotels, etc. As
                per Forbes, there will be an increased focus globally on women-related policies of sexual harassment,
                diversity information, work ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Ruth Dsouza Prabhu</a>, 22/06/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://www.thequint.com/voices/women/women-travel-for-business-safety-tips" target="_blank">Read
                more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row hindu -->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/hindu.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>The future of work</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">There are indications that freelancing will become so integral to
                business that a new term will probably have to be coined for it
                Bhanu Venkatesh chucked a lucrative 9-to-5 job as an advertisement professional after 17 years to turn
                freelancer. Flexibility and freedom were factors that drew her to freelancing; and the trade-off would be
                a fat pay cheque. She was however pleasantly surprised to discover that freelancing delivered a fatter pay
                packet.
  
                Agreed, there are certain professions that lend themselves to freelancing - advertising is certainly one
                of them. However, technology has now extended the frontiers of freelancing to include a variety of jobs,
                many of them hardly fitting in with traditional stereotypes of creativity. Probably due to this, India is
                estimated to have 10 million people as freelancers. ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Liffy Thomas</a>, 11/05/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://www.thehindu.com/education/careers/the-future-of-work/article23823650.ece"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row entrepreneur -->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4" style="height: 100%;">
                <img class="img-fluid" src="assets/images/press/entrepreneur.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>How Organizations Stand to Gain a Lot By Reskilling
                  Employees</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">Our world is growing increasingly automated. Processes are changing
                and getting upgraded everyday. In this context, it is important for us to improve our existing skills and
                learn new skills to survive, especially in our workplace. An ideal leader should inculcate in his
                employees the need to reskill in order to keep up with constantly evolving professional needs as well as
                to prepare for the future. The following points illustrate why and how it is important to focus on
                upskilling your employees. We are living in a truly digital world. From buying household groceries to
                applying for a job, everything can be done online. And technology is constantly evolving. Therefore, it is
                imperative that employees need to upgrade their skills accordingly. Today, the question is not about
                whether one can use internet or not rather, the concern is how effectively one can use it for the benefit
                of the company. ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Sandesh Kangod</a>, 30/03/2018</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary" href="https://www.entrepreneur.com/article/311303"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row times -->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/times.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>MY STARTUP IDEA: WorkFlexi and Truebil founders on their eureka
                  moments</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">In this column, we bring you the stories behind how startup founders
                got their business idea, and the things, events, and actions that eventually led them to their big eureka
                moment. This time, we feature the founder of a platform for flexible work contracts and an entrepreneur
                who started an online used car marketplace 'Half the users are men wanting flexible work hours': Geetha
                Prabhu. When Geetha Prabhu became a mother, she took a break after working for 16 years. When she returned
                to work, she took on consulting jobs rather than full-time employment. "I worked as a consultant for six
                years while taking care of my child. A lot of my friends would say they wanted similar working
                arrangements," she says. When enquiries started increasing, Prabhu saw a potential business opportunity in
                starting a platform that provided flexible work contracts...
                .</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Shalina</a>, 08/07/2017</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://timesofindia.indiatimes.com/people/eureka-work-flexi-truebil/articleshow/59504218.cms"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid row roon-->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/theroon.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Because it is required!</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">When you are in a job, what do you dread about, the most? Not getting
                long leaves! The flexibility - like a switch that allows you to work on and off. A permanent job will
                never give both of them. What other option do we have? Freelancing? Nah. Along with flexibility, it brings
                in uncertainty of income that is difficult to deal with. How else do I go for a Himalayan base camp trek
                OR a 3-month wildlife photography course and hold on to a job as well!? A platform like Workflexi is more
                relevant now than ever before! Workflexi started off as a platform for senior professionals looking for
                consulting opportunities, Workflexi metamorphosed into an exclusive platform for ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Geetha Prabhu</a>, 01/03/2017</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary"
                href="https://therodinhoods.com/post/because-it-is-required/" target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
          <!-- Grid your story row -->
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img class="img-fluid" src="assets/images/press/yourstory.png" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <div class="col-lg-7 col-xl-8">
  
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>This startup gives you flexible work contracts while helping you
                  simultaneously follow your passion</strong></h3>
              <!-- Excerpt -->
              <p class="dark-grey-text text-justify">"Movies like Eat Pray Love, Tamasha, and Zindagi Na Milegi Dobara
                leave us with some rather unrealistic travel expectations. I mean, unless you have truckloads of money and
                are willing to take a really long sabbatical!" exclaims 32-year-old Shantanu, a marketing executive. This
                is possibly a lamentation shared by most people; travelling and pursuing one's ...</p>
              <!-- Post data -->
              <p>by <a class="font-weight-bold">Sindhu Kashyap</a>, 28/10/2016</p>
              <!-- Read more button -->
              <a class="mat-raised-button mat-button-base mat-primary" href="https://yourstory.com/2016/10/workflexi/"
                target="_blank">Read more</a>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr class="my-5">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
