<div class="header">
    <div class="">
      <mat-toolbar class="header-contents">
        <div class="logo">
          <button mat-icon-button>
            <mat-icon id="nav-icon">menu</mat-icon>
          </button>
          <a href="javascript:void(0)" (click)="dashboard()"><img src="../../../assets/images/logo.png"></a>
          <!-- <button mat-icon-button aria-label="Mobile Navigation" (click)=toggleDisplayDiv() [ngClass]="hide" class="d-block d-sm-none">
            <mat-icon>menu</mat-icon>
          </button> -->
        </div>
  
          <div class="nav">
            <!-- <span class="example-spacer"></span>
            <span class="headerme">
              <button mat-icon-button aria-label="" [routerLink]="['/wallet']" title="Wallet">
                <mat-icon>account_balance_wallet</mat-icon>
              </button>
              <span>{{ balance / 100 }}</span>
            </span> -->
  
            <button mat-button [matMenuTriggerFor]="menu" class="profile">
              <span class="img-avtar"><img style="border-radius: 50%;flex-shrink: 0;object-fit: cover;height: 40px;
                width: 40px;" [src]="headerSrcData" alt="Place image title" class="avtrcard mat-card-avatar" *ngIf="headerSrcData"></span><span *ngIf="userDetails">{{userDetails.name}}</span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/auth/inboarding']" >User View</button>
              <button mat-menu-item [routerLink]="['/logout']">Log Out</button>
            </mat-menu>
          </div>
      </mat-toolbar>
    </div>
  </div>
